:root{
  --white: #FFFFFF;
  --white-darker: #F1F1F1;
  --black: #000000;
  --black-lighter: #333333;
  --blue-lighter: #BED4FF;
  --blue: #0066FF;
  --blue-darker: #005CE6;
  --orange: #FF9900;
  --orange-darker: #E68A00;
  --red: #C52A19;
  --red-darker: #B12516;
  --gray-lighter: #E3E3E3;
  --gray: #7D7C83;
  --gray-darker: #646369;
  
  /* controle das medidas rem */
  /* font-size: 80%; */
}
/* Pra chamar as fontes:
font-family: 'Inter', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    /* Exemplo de uso de variavel de cor */
    /* backgroud: var(--white) */
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* classe padrão dos botões */
.btn {
    min-width: 8rem;
    margin: 1rem;
    border-radius: 0.375rem;
    padding: 1rem;
    
    font: 600 1rem 'Inter', sans-serif;

    transition: 0.3s;  
}

/* classe dos botões de confirmação */
.btn-confirm {
    background: var(--blue);
    color: var(--white);
    border:  2px solid var(--blue);
}

.btn-confirm:hover {
    background: var(--blue-darker);
    border:  2px solid var(--blue-darker)
}

/* classes dos botões de cancelamento */
.btn-cancel {
    background: var(--white);
    color: var(--black-lighter);
    border:  2px solid var(--gray-lighter);
}

.btn-cancel:hover {
    background: var(--gray-lighter);
    border:  2px solid var(--gray-lighter) 
}

/* Botão de fechamento */
/* <button class="btn-close"><span class="lnr lnr-cross"></span></button>*/
.btn-close {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    border: 0;

    background: var(--white-darker);

    font-size: 1rem;
    font-weight: 700;
    color: var(--red);
    
    transition: 0.3s;
}

.btn-close:hover {
    background: var(--red-darker);
    color: var(--white);
}

/* classe dos modais */

/* <div class="overlay"> */
/*   <div class="modal-box"> */
/*     Conteudo */
/*   </div> */
/* </div> */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* gray-darker */
  background: rgba(99, 100, 105, 0.8);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.modal-box {
  background: var(--white-darker);
  min-width: 30rem;
  padding: 1rem 1rem;
  border-radius: 0.375rem;
  /* black-lighter */
  box-shadow: 0 0 3.75rem rgba(51, 51, 51, 0.05);
}